﻿* {
  font-family: Verdana;
  font-size: 8pt;
  color: #37411a;
}

body {
  padding: 0;
  margin: 0;
}


body {background-image: url('../images/environment.png'); background-repeat:repeat;}

#hdr
{
    background-image: url('../images/2 color.jpg');
    background-repeat: no-repeat;
    background-color: #f7f2d2;
    height: 40px;
    border-bottom: 3px solid #CBD49E;
    /*margin-bottom: 25px;*/
}
#hdr span
{
    margin-left: 80px;
    font-size: 2em;
    font-weight: bold;
    color: #37411A;
    line-height: 40px;
    white-space: nowrap;
}
.main
{
    padding-top: 20px;
    text-align: center;
}
.content
{
    text-align: left;
    margin-left: auto; 
    margin-right: auto;
}

