﻿.lcboMessageContainer
{
	font-family: Verdana!important;
	font-size: 10pt;
}

.lcboMessageContainer .ui-dialog-titlebar
{
	display: none;
}

.lcboMessageWait
{
	height: 32px; 
	line-height: 32px; 
	font-size: 14pt; 
	font-weight: bold; 
	background-image: url(ajax-loader.gif); 
	background-repeat: no-repeat; 
	padding-left: 40px;
	padding-right: 15px;
	white-space: nowrap;
}
